.header{
    padding-top: 1rem;
    background: rgba($bg-color,0.5);
    

    
}

.promo{
    font-size: $text_promo;
    text-align: center;
    margin: 10px 0;
    @include medium-screen{
        font-size: $nav_size;
    }
    strong{
        font-style: italic;
        color: $spec-color;
        font-weight: bold;
        display: inline-block;
        animation: anim_promo 4s infinite;
    }
}



.nav{
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        font-family: $font-bold;
    }

    &__item{
        margin: 4px 18px;
        font-size: $nav_size;
        a{
            color: $spec-color;
            text-decoration: none;
            display: inline-block;
            &:hover{
                border-bottom: 2px solid $spec-color;
                transform: rotateX(-55deg);
            }
        }
    }
}

.horaires{
    margin: 15px 0;
    padding: 10px 0;
    table{
        margin: auto;
        @include myborder;
        border-radius: 0 0 15px 0;
        padding-bottom: 8px;
    }
    
    &__jour{
        text-align: left;
        padding-left: 5px;
        padding-right: 10px;
    }
    &__heure{
        text-align: right;
        padding-left: 10px;
        padding-right: 5px;
    }
}

footer{
    margin-top: 5rem;
    border-top: thick double $font-color;
    padding-top: 2rem;
    p{
        text-align: center;
    }
}