
.header{
    background-color: rgba($bg-color, 0.8);
    font-family: $font-bold;
    padding: 10px;

    .nav-item{
        margin: 0 15px;

        a{
            color: $spec-color;
            text-decoration: none;
        }
    }

    button{
        color: $spec-color;
    }
}

.promo{
    font-size: $text_promo;
    text-align: center;
    margin: 10px 0;
    strong{
        font-style: italic;
        color: $spec-color;
        font-weight: bold;
        display: inline-block;
        animation: anim_promo 4s infinite;
    }
}
.dropdown-menu{
    width: 13rem;
    background-color: rgba($bg-color, 0.8);
    
    .dropdown-item{
        color: $spec-color;
    }
    tbody, thead{
        width: 100%;
        display: table;
        
    }
    thead{
        margin-bottom: 0.6rem;
    }
}

.card{
    width: 20rem;
}


footer{
    margin-top: 5rem;
    border-top: thick double $font-color;
    padding-top: 2rem;
    p{
        text-align: center;
    }
}