@font-face {
  font-family: delicious;
  src: url("./fonts/Delicious Curls.ttf");
  font-display: swap;
}

@font-face {
  font-family: delicious_bold;
  src: url("./fonts/Delicious Curls bold.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #faf6f1;
  color: #634d35;
  font-size: 100%;
}

.content {
  margin: 0 1rem;
}

@-webkit-keyframes anim_promo {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes anim_promo {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}

.bg-accueil {
  background: url("./img/poster_hero.png") center center;
  background-size: cover;
}

.bg-soinsCorps {
  background: url("./img/soins_corps.jpg") left center;
  background-size: cover;
}

.bg-soinsVisage {
  background: url("./img/soins_visage.jpg") left center;
  background-size: cover;
}

.bg-onglerie {
  background: url("./img/onglerie.jpg") top center;
  background-size: cover;
}

.bg-epillation {
  background: url("./img/epillation.jpg") top center;
  background-size: cover;
}

.bg-maquillage {
  background: url("./img/maquillage.jpg") top center;
  background-size: cover;
}

.bg-liens {
  background: url("./img/contact.jpg") center left;
  background-size: cover;
}

.address {
  margin-top: 70px;
  width: 35%;
  background-color: rgba(250, 246, 241, 0.6);
}

.address p {
  margin: 0;
  text-align: center;
}

.address a {
  display: block;
  color: #d73055;
  text-align: center;
  cursor: pointer;
}

.address a:hover {
  color: #9c1e3a;
}

.card-footer {
  color: #d73055;
  text-align: end;
}

.header {
  background-color: rgba(250, 246, 241, 0.8);
  font-family: delicious_bold;
  padding: 10px;
}

.header .nav-item {
  margin: 0 15px;
}

.header .nav-item a {
  color: #d73055;
  text-decoration: none;
}

.header .nav-item a:hover {
  color: #9c1e3a;
}

.header button {
  color: #d73055;
}

.promo {
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
}

.promo strong {
  font-style: italic;
  color: #d73055;
  font-weight: bold;
  display: inline-block;
  -webkit-animation: anim_promo 4s infinite;
          animation: anim_promo 4s infinite;
}

.dropdown-menu {
  width: 13rem;
  background-color: rgba(250, 246, 241, 0.8);
}

.dropdown-menu .dropdown-item {
  color: #d73055;
}

.dropdown-menu tbody, .dropdown-menu thead {
  width: 100%;
  display: table;
}

.dropdown-menu thead {
  margin-bottom: 0.6rem;
}

.card {
  width: 20rem;
}

footer {
  margin-top: 5rem;
  border-top: thick double #634d35;
  padding-top: 2rem;
}

footer p {
  text-align: center;
}

#hero {
  width: 100%;
  height: 85vh;
  z-index: -100;
  margin-bottom: -20vh;
}

#hero h1 {
  font-family: delicious_bold;
  font-size: 2.5rem;
  color: #d73055;
  margin-left: 18vw;
  padding-top: 8rem;
}

.card-index {
  width: 15rem;
  text-decoration: none;
  color: #634d35;
  margin-bottom: 1rem;
}

.card-index:hover {
  color: #d73055;
}

.presentation {
  margin: 0 10px;
}

.presentation__texte {
  margin: 15px 0;
  text-align: center;
}

.presentation__texte em {
  font-family: delicious_bold;
}

.phyts {
  margin: 2rem 1rem;
  width: 75%;
}

.phyts div {
  float: left;
}

.phyts div img {
  width: 5rem;
  height: auto;
}

.phyts h1 {
  margin: 15px 0;
}

.phyts h3 {
  margin: 10px 0;
}

#formContact h2, #formContact label {
  color: #d73055;
}

.liens h2 {
  color: #d73055;
}

.liens ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
/*# sourceMappingURL=main.css.map */