
// background

.bg-accueil{
    background: url('./img/poster_hero.png') center center;
    background-size: cover;
}

.bg-soinsCorps{
    background: url('./img/soins_corps.jpg') left center;
    background-size: cover;
}

.bg-soinsVisage{
    background: url('./img/soins_visage.jpg') right center;
    background-size: cover;
}

.bg-onglerie{
    background: url('./img/onglerie.jpg') top center;
    background-size: cover;
}

.bg-epillation{
    background: url('./img/epillation.jpg') top center;
    background-size: cover;
}

.bg-maquillage{
    background: url('./img/maquillage.jpg') top center;
    background-size: cover;
}

.bg-liens{
    background: url('./img/contact.jpg') center left;
    background-size: cover;
}

.card-footer{
    color: $spec-color;
    text-align: end;
}