

.liens{
    h2{
        color: $spec-color;
        text-align: center;
        text-decoration: underline;
        margin: 15px 0;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        @include medium-screen{
            flex-direction: row;
            justify-content: space-around;
        }
        li{
            margin: 1rem 1rem;
        }
    }
}