
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    h2{
        color: $spec-color;
        text-align: center;
        text-decoration: underline;
        margin: 15px 0;
    }
}

.soin{
    @include myborder;
    @include shadow;
    margin: 10px 5px;
    padding: 5px;
    border-radius: 0 10px 10px 0;
    width: 90%;
    background-color: $bg-color;
 
    animation: anim_card 3s ease-out;

    &__description{
        h4{
            color: $spec-color;
            margin: 5px 10px;
        }

    }
    &__prix{
        text-align: right;
        font-size: $price_size;
        font-weight: bold;
        margin: 10px 5px;

    }
}

@keyframes anim_card {
    0%{
        transform:translateY(-25rem) rotate3d(1,0,0.4,-90deg);
    }
    100%{
        transform:translateY(0) rotate3d(1,1,1,0deg);
    }
}
