

.container{
    font-size: 1.2rem;
    table{
        width: 90%
    }
    p{
        margin: 15px 0;
    }
}

.g{
    padding-right: 10px;
}

.d{
    text-align: right;
    white-space: nowrap;
    color: $spec-color;
    font-weight: 900;
    
}